body{
 background-image: url(img/back.jpg);
}
#funciona{
    background-color: #ececec;
    height: 50px;
    font-family: coolvetica rg.ttf ;
    color: #58a8a7;
    text-align: center;
    font-size: 30px;



}

#pasos{
background-color:  #ececec;
height: 300px;
}

#salvo{
  height:50px;
  ont-family: coolvetica rg.ttf ;
  color: #58a8a7;
  text-align: center;
  font-size: 30px;
}

#beneficios{
background-color: white;
}
